h1{
    color: rgb(220, 147, 238);
    font-size: 100px;
}

button{
    color:#fff;
    background-color: #825157;
}

h2{
    color: #464B4C;
}

body{
    background-color: #fffbf7;
}

p{
    color: #8b8b8bcc;
}